.notifications__wrapper {
    width: 50%;
    min-width: 350px;
    margin: 12px auto;
}

.notifications__actions {
    text-align: right;
    margin-bottom: 12px;
}

.notifications__table {
    width: 100%;
}

.notifications__table th {
    text-align: left;
}

/**
 * Place your CSS below
 */
.notifications__date {
    color: #999;
}

.notification__acknowledged{
    background-color: grey;
    opacity: 0.5;
}

.notification__alert {
    color: red;
}
